<%- include("../partials/head") %>

<body>
  <%- include("../partials/navBar") %>
  <main class="flex items-center justify-center mx-10 mt-5">
    <div class="w-full p-10 mt-5 rounded-md shadow-2xl">
      <h1 class="text-3xl font-semibold text-center text-red-500">
        <%= editing ? "Edit" : "Register" %> your Home on AirBnB
      </h1>
      <form class="flex flex-col items-center justify-center mx-2 my-4" action="/<%= editing ? 'editHome' : 'registerHome' %>" method="POST">
        <div class="flex items-center justify-between w-full">
          <label class="hidden font-semibold" for="houseId">House Id : </label>
          <input class="w-[70%] p-2 my-1 border rounded-md " type="hidden" id="houseId" name="houseId"
            placeholder="Enter your House Id..." value="<%= editing ? home.houseId : '' %>" />
        </div>
        <div class="flex items-center justify-between w-full">
          <label class="font-semibold " for="houseName">House Name : </label>
          <input class="w-[70%] p-2 my-1 border rounded-md " type="text" id="houseName" name="houseName"
            placeholder="Enter your House Name..." value="<%= editing ? home.houseName : '' %>" />
        </div>
        <div class="flex items-center justify-between w-full">
          <label class="font-semibold " for="housePricePerNight">Price per night : </label>
          <input class="w-[70%] p-2 my-1 border rounded-md " type="text" id="housePricePerNight" name="housePricePerNight"
            placeholder="Enter your Price per night..." value="<%= editing ? home.housePricePerNight : '' %>" />
        </div>
        <div class="flex items-center justify-between w-full">
          <label class="font-semibold " for="houseLocation">Location : </label>
          <input class="w-[70%] p-2 my-1 border rounded-md " type="text" id="houseLocation" name="houseLocation"
            placeholder="Enter your Location..." value="<%= editing ? home.houseLocation : '' %>" />
        </div>
        <div class="flex items-center justify-between w-full">
          <label class="font-semibold " for="houseRating">Rating : </label>
          <input class="w-[70%] p-2 my-1 border rounded-md " type="text" id="houseRating" name="houseRating"
            placeholder="Enter your Rating..." value="<%= editing ? home.houseRating : '' %>" />
        </div>
        <div class="flex items-center justify-between w-full">
          <label class="font-semibold " for="houseDescription">Description : </label>
          <textarea class="w-[70%] p-2 my-1 border rounded-md " id="houseDescription" name="houseDescription"
            placeholder="Describe your home..."><%= editing ? home.houseDescription : '' %></textarea>
        </div>
        <div class="flex items-center justify-between w-full">
          <label class="font-semibold " for="housePhotoURL">Photo URL : </label>
          <input class="w-[70%] p-2 my-1 border rounded-md " type="text" id="housePhotoURL" name="housePhotoURL"
            placeholder="Provide Photo URL..." value="<%= editing ? home.housePhotoURL : '' %>" />
        </div>
        <button class="w-full p-2 my-1 font-semibold text-white bg-red-500 border rounded-md" type="submit">
          <%= editing ? "Update" : "Register" %>
        </button>
      </form>
    </div>
  </main>
</body>

</html>